
.section-divider {
  z-index: 999;
  width: 100%;
  display: table;
  max-height: 400px;
  min-height:400px;
  border-top: 2px solid pink;   /*上部の線の色を指定*/
  border-bottom: 2px solid pink;    /*下部の線の色を指定*/
  padding-top: 0px;
  padding-bottom: 50px;
  margin-top: 0px;
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: relative;
  text-align: center;
}

.divider1 {
  background-image: url("../Banner/ptrchan_banner.jpg");
}

/*
@media screen and (max-width:768px) {
    nav ul{
    width: 100%; /*横幅の指定*/
    /*margin-left: 20%;   /*左端から20%右側に動かす*/